# Security
.env
.env.local
.env.dev
.env.prod

# Databases
db.sqlite3
*.postgres

# Python / Django
__pycache__/
*.py[cod]
*$py.class
staticfiles/
media/
.venv/
venv/
ENV/

# OS specific
.DS_Store
Thumbs.db